:root{
    --p-size: 12px;
}

.backIcon{
    font-size: 25px;
    color: #052349;
}

.backIcon:hover{
    cursor: pointer;
}

.header h2{
    margin-left: 1.5rem;
    font-size: 27px;
    font-weight: 700;
}

.head{
    margin-top: 1.5rem;
}

.settings{
    margin-top: 1rem;
    text-align: right;
    font-size: 40px;
    color: #7165E3;
}

.settings:hover{
    cursor: pointer;
}

.dp{
    margin-top: 2rem;
}
.dp img{
    height: 170px;
    width: 170px;
    border-radius: 100%;
}

.dp h3{
    margin-top: 1rem;
    font-weight: 700;
    color: #052349;
}
.dp h4{
    margin-bottom: 1.5rem;
    color: #828282;

}

.dp i{
    color: #7165E3;
    margin-right: 0.5rem;
}

.form{
    margin-top: 2rem;
}

.formPush{
    margin-top: 1rem;
}

.hr{
    margin-top: 2rem;
}

.dn h5{
    color: #052349;
}