.imgInfo{
    background-color: white;
    padding-top: 1.5rem;
}
.button{
    padding: 0.7rem 0.7rem;
    border: 1px solid #7165E3;
    color: #7165E3;
}
.buy{
    background-color: #7165E3;
    color: white;
}