.img{
    background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.welcome{
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

.welcome h5{
    color: #c9c4e7;
}
.welcome h1{
    color: white;
}
