.img{
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}
@media (max-height: 710px) {
    .img{
      height: 170px;
    }
    .welcome{
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .welcome h1{
        font-size: 26px;
    }
    .welcome h5{
        font-size: 18px;
    }
  }
.welcome{
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

.welcome h5{
    color: #c9c4e7;
}
.welcome h1{
    color: white;
}
