.img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 180px;
}

@media (max-height: 710px) {
    .img{
        height: 140px;
    }
    .qr{
        width:100px;
    }
  }

.options{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.optionsIcon{
    display: inline-block;
}

.optionsIcon i {
    font-size: x-large;
}

.optionsIcon:hover{
    cursor: pointer;
}

.ID {
    display: inline-block;
}

.info{
    background-color: white;
    padding-top: 1rem;
}

.info h3{
    font-size: large;
    font-weight: 700;
}

.content{
    margin-top: 2rem;
}
.date{
    display: inline;
}
div p{
    line-height: 0.5;
    font-size: large;
}

.go{
    color: #828282;
}

.p2{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.imgInfoIcon a{
    display: inline-block;
    color: #7165E3;
    font-size: 50px;
}

.left{
    padding-left: 3.5rem;
}