.options{
    margin-top: 2rem;
}

.optionsIcon{
    display: inline-block;
}

.optionsIcon i {
    font-size: x-large;
    font-weight: 800;
}

.optionsIcon:hover{
    cursor: pointer;
}

.ID {
    display: inline-block;
}
