
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7c7;
  height: 130vh;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.white {
  background-color: white;
}

/* Popular events */
.shadow {
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
}
.shadowB {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.shadowC {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.roborobo {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}
.roboroboT {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}
.roboroboS{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.green {
  background-color: #0ead69;
  font-size: 14px;
}

.green.rad {
  border-radius: 35%;
  padding: 10px 13px;
}
.rad {
  border-radius: 50%;
  padding: 10px 15px;
}
.green.rad.blue{
  background-color: #55CCF8;
}
.whiteBig {
  background-color: white;
  font-weight: 800;
}

.whiteBig.rad {
  border-radius: 35%;
  padding: 15px 18px;
  text-align: center;
}
.whiteBigi {
  background-color: white;
  width: fit-content;
}
.whiteBigi.radi {
  border-radius: 30%;
  padding: 5px 0px;
  text-align: center;
}

.whiteBigi.radi span {
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: 0;
}

.locationCol{
  color: #828282;
}
.al {
  text-align: left;
}
.al span {
  margin-left: 20px;
}
.ar {
  text-align: right;
}
.ar span {
  margin-right: 20px;
}
.title1 h6{
  font-weight: 700;
}
.first {
  padding-top: 0;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 800;
}

.second {
  font-size: 15px;
  color: #828282;
}

.myContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}
/* Popular events end */
.myContainer-fluid {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 16px;
}

.myContainer h5 {
  color: #828282;
}

.center {
  text-align: center;
}
.ba{
  color: white;
}

.ba:hover{
  color:  #7165E3;
}

.ba i{
  color: white;
}

.ba i:hover{
  color:  #7165E3;
}

.p{
  line-height: normal;
}
/* Help to target active category */
/* .ca a.active {
  color: white;
}

.ca:has(.active){
  color: white;
  background-color: #7165E3;
}
.ca a.active i {
  color: #ABA4F2;
} */

/* Help to target active category end*/
/* #7165E3 */
.edit{
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

.b{
  border: none;
}

.bGreen{
  background-color: #7165E3;
}


/* map */
/* .mapouter{
  position:relative;
  text-align:left;
  width:800px;
  height:400px;
  }
   .gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:800px;height:400px;
  } */
 
  
  .item{
    cursor: pointer;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    /* grid-gap: 20px; */
  }

  .grid-item {
  box-sizing: border-box;
  width: auto;
  text-align: center;
  }
  /* map end */

.animate h4{
  font-size: 18px;
  animation-name: description;
  animation-duration: 14s;
}

.animate:hover{
  cursor: pointer;
}
.animate-remove:hover{
  cursor: pointer;
}

@keyframes description {
  5%   {font-size: 20px;}
  10%  {font-size: 18px;}
  15%  {font-size: 20px;}
  20% {font-size: 18px;}
  25%   {font-size: 20px;}
  30%  {font-size: 18px;}
  35%  {font-size: 20px;}
  40% {font-size: 18px;}
  45%  {font-size: 20px;}
  50% {font-size: 18px;}
  55%   {font-size: 20px;}
  60%  {font-size: 18px;}
  65%  {font-size: 20px;}
  70% {font-size: 18px;}
  75%   {font-size: 20px;}
  80%  {font-size: 18px;}
  85%  {font-size: 20px;}
  90% {font-size: 18px;}
  95%  {font-size: 20px;}
  100% {font-size: 18px;}
}

/* @keyframes scroll {
  from {
      transform: translate(0,0)
  }

  to {
     transform: translate(-300px,0)
  }
}

.resultMarquee {
  animation: scroll 7s linear 0s infinite;
  position: relative;
} */